@{
    ViewBag.Title = "系统登录";
    //Layout = Layouts.NormalDefault;
    //Style.Reqiured("Customer").AtHead();
    //Script.Reqiured("validate").AtFoot();
    //var returnUrl = ViewBag.ReturnUrl ?? ViewContext.HttpContext.Request.Query["ReturnUrl"];
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="ReturnUrl" id="ReturnUrl" value="" />
    <div class="login-panel sign-in">
        <div class="login-panel-heading">
            <p>
                <a href="~/">
                    <img class="logo" src="~/images/logo_min.png" alt="ZKEACMS" />
                </a>
            </p>
        </div>
        <div class="login-panel-body">
            <div class="info-bar">
                <p>
                    请输入您的用户信息以登录
                </p>
                <img src="~/css/Images/picker_account_msa.svg" />
            </div>
            <div class="form-input">
                <h4>用户名</h4>
                <input type="email"
                       placeholder="输入您的帐号"
                       id="email"
                       name="email"
                       class="form-control"
                       data-val="true"
                       data-val-required="用户名不能为空" />
                <span class="field-validation-valid " data-valmsg-for="userName" data-valmsg-replace="true"></span>
            </div>
            <div class="form-input">
                <h4>密码</h4>
                <input type="password"
                       placeholder="输入您的密码"
                       id="password"
                       name="password"
                       class="form-control"
                       data-val="true"
                       data-val-required="密码不能为空" />
                <span class="field-validation-valid" data-valmsg-for="password" data-valmsg-replace="true"></span>
            </div>
            @if (ViewBag.Errormessage != null)
            {
                <div class="text-center alert alert-danger">
                    @ViewBag.Errormessage
                </div>
            }
            <div class="form-input">
                <input type="submit" class="btn-login" value="登录" />
            </div>
        </div>
        <div class="login-panel-footer clearfix">
            <div class="pull-left">
                记住用户名和密码
            </div>
            <div class="pull-right">
                <a href="http://172.17.254.1/" target="_blank">没有旧版本</a>
            </div>
        </div>
    </div>
}